<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="recipe-header">
    <div class="recipe-photo">
        <%# image_tag "default-recipe-2.jpg", alt: "Recipe picture" %>
    </div>
    <div class="recipe-info">
      <div class="field">
        <%= form.label :title, "Title:" %>
        <%= form.text_field :title %>
      </div>
      
      <div class="recipe-time">
        <div class="field total-time">
          <%= form.label :total_time, "Total time:" %>
          <%= form.number_field :total_time %> mins
        </div>
        
        <div class="field preparation-time">
          <%= form.label :preparation_time, "Preparation:" %>
          <%= form.number_field :preparation_time %> mins
        </div>

        <div class="field cooking-time">
          <%= form.label :cooking_time, "Cooking:" %>
          <%= form.number_field :cooking_time %> mins
        </div>
      </div>

      <div class="field">
        <%= form.label :serving, "Serving:" %>
        <%= form.number_field :serving %> persons
      </div>
    </div>
    <div class="recipe-description">
      <div class="field">
        <%= form.label :description, "Description:" %>
        <%= form.text_area :description, :rows => 5 %>
      </div>
    </div>
    <!--
      <div class="field">
        <%# form.label :comment %>
        <%# form.text_area :comment %>
      </div>
    -->
  </div>
  
  <br />

  <div id="ingredientList" class="dynamic-list">
    <div class="dynamic-list-header">
      <%= label "ingredients", "Ingredients: " %>
    </div>
    <div class="dynamic-list-buttons">
      <%= button_to_add_fields "Add", form, :ingredientsRecipes %>
    </div>
    <div class="dynamic-list-content">
      <%= form.fields_for :ingredientsRecipes do |builder| %>
        <%= render 'ingredientsRecipe_fields', :f => builder %>
      <% end %>
    </div>
  </div>

  <div id="stepList" class="dynamic-list">
    <div class="dynamic-list-header">
      <%= label "steps", "Steps: " %>
    </div>
    <div class="dynamic-list-buttons">
      <%= button_to_add_fields "Add", form, :steps %>
    </div>
    <div class="dynamic-list-content">
      <%= form.fields_for :steps do |builder| %>
        <%= render 'step_fields', :f => builder %>
      <% end %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: "action-btn" %>
    <%= link_to "Back", recipes_path, class: "soft-btn" %>
  </div>
<% end %>
