<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :total_time %>
    <%= form.number_field :total_time %>
  </div>

  <div class="field">
    <%= form.label :preparation_time %>
    <%= form.number_field :preparation_time %>
  </div>

  <div class="field">
    <%= form.label :cooking_time %>
    <%= form.number_field :cooking_time %>
  </div>

  <div class="field">
    <%= form.label :serving %>
    <%= form.number_field :serving %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <br />

  <div id="ingredientList" class="dynamic-list">
    <div class="dynamic-list-header">
      <%= label "Ingredients", "Ingredients : " %>
    </div>
    <div class="dynamic-list-buttons">
      <%= button_to_add_fields "Add", form, :ingredientsRecipes %>
    </div>
    <div class="dynamic-list-content">
      <%= form.fields_for :ingredientsRecipes do |builder| %>
        <%= render 'ingredientsRecipe_fields', :f => builder %>
      <% end %>
    </div>
  </div>

  <br />

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
