<%= form_with(model: ingredient, local: true) do |form| %>
  <% if ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>

      <ul>
      <% ingredient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ingredient-header well">
    <div class="field">
      <strong><%= form.label :name, "Name:" %></strong>
      <%= form.text_field :name %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: "action-btn" %>
    <%= link_to "Back", ingredients_path, class: "soft-btn" %>
  </div>
<% end %>
