<%= form_with(model: unit, local: true) do |form| %>
  <% if unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% unit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="unit-header well">
    <div class="field">
      <strong><%= form.label :name, "Name:" %></strong>
      <%= form.text_field :name %>
    </div>
    <div class="field">
      <strong><%= form.label :symbol, "Symbol:" %></strong>
      <%= form.text_field :symbol %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: "action-btn" %>
    <%= link_to "Back", units_path, class: "soft-btn" %>
  </div>
<% end %>
