<p id="notice"><%= notice %></p>

<h1>Unit</h1>

<div class="unit-header well">
  <div class="field">
    <strong>Name:</strong>
    <%= @unit.name %>
  </div>

  <div class="field">
    <strong>Symbol:</strong>
    <%= @unit.symbol %>
  </div>
</div>

<%= link_to 'Edit', edit_unit_path(@unit), class: "action-btn" %>
<%= link_to 'Back', units_path, class: "soft-btn" %>
